@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');

:root {
  --font-noto: 'Noto Sans', sans-serif;
  --font-ubuntu: 'Ubuntu Mono', monospace;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-noto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
