@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');

:root {
  --font-noto: 'Noto Sans', sans-serif;
  --font-ubuntu: 'Ubuntu Mono', monospace;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-noto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: var(--font-ubuntu);
  font-size: em(12px);
  line-height: em(12px);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
  margin-top: 25px;
}